@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Recoleta";
  src: url("fonts/recoleta.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6,
.dg {
  font-family: "Recoleta", Arial, sans-serif;
}

pre code {
  margin-bottom: 1.5em;
}

.header-anchor {
  margin-left: -1.5ch;
  padding-right: 0.5ch;
  visibility: hidden;
}

.header-anchor::before {
  content: "#";
}

:is(h2:hover, h3:hover, h4:hover, h5:hover, h6:hover) .header-anchor {
  visibility: visible;
}
